<body>
    <div class="club-logos">
      <span style="padding-left: 100px;">Club Sites:</span>

      <ng-container *ngIf="teams$ | async as teams" >
        <a *ngFor="let team of teams" [href]="team.website" target="_blank">
          <img [src]="team.crest" alt="{{ team.name }}">
        </a>
      </ng-container>



    </div>
      <div>
        <nav class="main-navbar">
          <div class="container-fluid d-flex justify-content-between align-items-center">
            <!-- Premier League Logo -->
            <a class="pl-logo" href="https://www.premierleague.com/home">
              <img src="/assets/pl-main-logo.png" alt="Premier League Logo">
            </a>
            <div class="nav-items" style="padding-left: 150px; padding-top: 2px;" >
              <a >Home</a>
              <a  routerLink="table">Table</a>
              <a  routerLink="matches">Matches</a>
              <a  href="">Home</a>
            </div>
            <a href="">Login/Register</a>
          </div>
        </nav>
      </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
