<body>
    <div class="container">
        <h2>Login</h2>
        <form #form="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="input-group">
                <label for="">Email:</label>
                <input type="text" id="email" name="email" required [(ngModel)]="model.email">
            </div>
            <div class="input-group">
                <label for="">Password:</label>
                <input type="password" id="password" name="password" required  [(ngModel)]="model.password">
            </div>
            <button type="submit">Login</button>
        </form>
        <a routerLink="register">Don't have an account? Register now!</a>
    </div>
</body>
